.status {
  width: 15px;
  height: 15px;
  background-color: red;
  margin-right: 15px;
  border-radius: 50em;
}
.avatar {
  margin-right: 15px;
}
.name {
  font-weight: 700;
}
.div {
  display: flex;
  align-items: center;
}
