.status {
  width: 15px;
  height: 15px;
  background-color: red;
  margin-right: 15px;
  border-radius: 50em;
}
.avatar {
  margin-right: 15px;
}
.name {
  font-weight: 700;
}

.item {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  max-width: 330px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;

  list-style: none;
  background-color: white;
  box-shadow: 6px 1px 8px 2px rgba(0, 0, 0, 0.5);
}
